.callout[data-callout="art"] {
    --callout-color: 245, 191, 66; 
    --callout-icon: brush;
}
.callout[data-callout="map"] {
    --callout-color: 191, 245, 66; 
    --callout-icon: map;
}
.callout[data-callout="definition"] {
    --callout-color: 85, 140, 230; 
    --callout-icon: book-marked;
}